{% extends 'accounts/main.html' %}
{% load static %}

{% block title %}
Create Customer
{% endblock title %}


{% block content %}
<div class="container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, molestias. Eaque, ipsa! Earum voluptate
        recusandae error. Et quis totam nam accusantium? Magnam error delectus voluptatum dicta cupiditate laboriosam
        ea! Magnam.
        Laborum incidunt molestias doloribus. Dicta dolor ut facilis nobis commodi rem soluta? Magni voluptatibus sint
        aliquam obcaecati atque dicta itaque earum consequuntur ipsum ad, facilis, ipsam pariatur nesciunt nostrum
        quibusdam.
        Eos esse aut ad mollitia, nisi tenetur doloremque soluta assumenda, suscipit aperiam nulla quidem voluptas
        cupiditate provident beatae consectetur! Ipsam beatae enim quo veniam quod, vel molestiae sunt magnam nam!
        Accusantium nihil cupiditate dolore molestiae, laborum voluptate asperiores officia recusandae rem consectetur
        vero adipisci. Molestias iure aliquid explicabo quasi temporibus, sapiente accusantium harum quae placeat
        eveniet est esse optio non.
        Odit iste asperiores ex aspernatur velit repellendus dolor cum adipisci doloribus corrupti odio veritatis culpa
        rem, numquam reprehenderit, ipsum facilis placeat repudiandae. Veniam culpa inventore ullam odio velit minima
        consequuntur.
        Animi, repellendus facilis? Numquam assumenda ipsam soluta maiores reiciendis, magnam a, in unde explicabo minus
        eaque amet inventore iure ad! Provident eos adipisci eligendi impedit in optio asperiores aut quidem.
        Quisquam doloribus itaque ut illum eaque laudantium deleniti qui animi. Consequuntur in distinctio ullam alias
        saepe quam repellendus ratione enim veniam. Neque doloribus praesentium ullam veniam. Dolore quasi reiciendis
        et?
        Maiores sapiente exercitationem labore enim distinctio doloremque animi hic tempore, quis praesentium corrupti
        ullam eveniet officia aliquid commodi tempora iusto nihil repudiandae in qui repellat veritatis iste! Esse,
        distinctio soluta?
        Veritatis provident incidunt repellat aperiam placeat a porro maxime doloribus numquam fugit. Magnam repellat
        deleniti, possimus provident porro soluta ducimus assumenda molestias a aspernatur beatae consectetur non
        reprehenderit nostrum animi.
        Est aliquam harum, maiores enim odio ullam veritatis facere laboriosam unde atque ipsum saepe aspernatur tempore
        voluptatum consectetur adipisci. Delectus facere totam consequuntur quos. Consequuntur voluptas quis neque vel
        placeat?
    </p>
</div>

{% endblock content %}